extends layout


block content
    script(type='text/javascript').
        function commit(temp) {
            var orderId = $("#orderId").val();
            var orderNo = $("#orderNo").val();
            var orderAgent = $("#orderAgent").val();
            if (temp == "refreshOrder" || confirm("確定此操作嗎？")) {
                $.get('/' + temp + '?orderNo=' + orderNo + '&orderAgent=' + orderAgent + '&orderId=' + orderId, function (res) {
                    if (res.code == 200) {
                        console.log(res.code);
                        if (res.code == '200') {
                            if (temp == 'pay') {
                                alert("下单成功！");
                            } else {
                                alert("刷新订单成功！");
                            }

                            location.reload();
                        }
                    } else {
                        alert(res.msg)
                    }
                })
            }
        }
    .am-g
        form.am-form.am-margin-left-sm(action='/takeOrder',method='get')
            fieldset
                legend.am-text-sm 訂單編號：#{order.orderNo} / 下單日期：#{order.date}
                table#orderlist.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tbody
                        tr
                            th 行程类型
                            th 航班号
                            th 航位
                            th 起降机场
                            th 起降时间
                        tr
                            td 往返
                            td #{order.flightNo}
                            td #{order.flightCabin}
                            td #{order.flightDeparture} -- #{order.flightArrival}
                            td #{startTime} -- #{endTime}
                        tr
                            th  乘客类型
                            th  人数
                            th  票面价
                            th  机料/燃油
                            th  机票总价
                        tr
                            td  #{order.passengerType}
                            td  1
                            td  #{order.price}
                            td  #{sum}
                            td  #{order.total}
            fieldset
                legend.am-text-sm 乘機人信息
                table#order.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tr
                        th   序号
                        th   乘客类型
                        th   乘客姓名
                        th   性别
                        th   证件类型
                        th   证件号
                        th   证件有效期
                        th   票号
                    tr
                        td   1
                        td   #{order.passengerType}
                        td   #{order.passengerName}
                        td   N/A
                        td   #{order.passengerIdentifyType}
                        td   #{order.passengerIdentify}
                        td   长期有效
                        td   #{order.passengerTicketNo}
            fieldset
                legend.am-text-sm 出票工具
                table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tr
                        th  出票渠道
                        th  外部订单
                        th  订单状态
                        th  乘客姓名
                        th  支付总价
                        th  操作
                    tr
                        td #{order.orderAgent}
                            input(id='orderAgent' value='#{order.orderAgent}' type='hidden')
                            input(id='orderId' value='#{order.orderId}' type='hidden')
                        td #{order.orderNo}
                            input(id='orderNo' value='#{order.orderNo}' type='hidden')
                        td #{order.orderStatus}
                        td #{order.passengerName}
                        td #{order.total}
                        td
                            input.am-btn-sm.am-btn.am-btn-default(type='button', value='刷新' onClick='commit("refreshOrder")')
                            input.am-btn-sm.am-btn.am-btn-success(name='pay', value='支付', type='button' onClick='commit("pay")')
                            input.am-btn-sm.am-btn.am-btn-danger(name='refund', value='退票', type='button' onClick='commit("refund")')
                            input.am-btn-sm.am-btn.am-btn-primary(name='change', value='改簽', type='button' onClick='')
            fieldset
                legend.am-text-sm 該簽退規則
                table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tr
                        td.am-text-nowrap(width=80) 成人票
                        td.am-text-nowrap(width=80) 往返
                        td !{order.notice}
                    tr
                        td.am-text-nowrap 儿童票
                        td.am-text-nowrap 往返
                        td
                            p 同舱更改条件：以航空公司规则为准
                            p 退票条件：以航空公司规则为准
                            p 签转条件：以航空公司规则为准


    .am-alert.am-alert-success(style='display:none;') 没有任何订单记录.




