extends layout

block content

    .am-g
        form.am-form.am-margin-left-sm(action='/takeOrder',method='get')
            fieldset
                legend.am-text-sm 訂單編號：#{orders[0].groupId} / 下單日期：#{orders[0].date}
                       #locked.action.am-btn-sm.am-btn.am-btn-danger.am-fr.am-margin-left-sm(type='button', name="locked")
                       .am-fr.am-btn-sm.am-btn.am-btn-default #{status}
                table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tbody
                        tr
                            th 行程类型
                            th 航班号
                            th 航位
                            th 起降机场
                            th 起降时间
                            th  乘客类型
                            th  人数
                            th  票面价
                            th  机料/燃油
                            th  机票总价
                        tr
                            td 去程
                            td #{orders[0].flightNo}
                            td #{orders[0].flightCabin}
                            td #{orders[0].flightDeparture} -- #{orders[0].flightArrival}
                            td #{orders[0].flightDepartureTime} -- #{orders[0].flightArrivalTime}
                            td  #{orders[0].passengerType}
                            td  1
                            td  #{orders[0].price}
                            td  #{orders[0].orderFuelTax + orders[0].orderConstructionFee}
                            td  #{orders[0].total}

                hr
                table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tbody
                        tr
                            th 行程类型
                            th 航班号
                            th 航位
                            th 起降机场
                            th 起降时间
                            th  乘客类型
                            th  人数
                            th  票面价
                            th  机料/燃油
                            th  机票总价
                        tr
                            td 返程
                            td #{orders[1].flightNo}
                            td #{orders[1].flightCabin}
                            td #{orders[1].flightDeparture} -- #{orders[1].flightArrival}
                            td #{orders[1].flightDepartureTime} -- #{orders[1].flightArrivalTime}
                            td  #{orders[1].passengerType}
                            td  1
                            td  #{orders[1].price}
                            td  #{orders[1].orderFuelTax + orders[1].orderConstructionFee}
                            td  #{orders[1].total}

            fieldset
                legend.am-text-sm 乘機人信息
                table#order.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tr
                        th   序号
                        th   乘客类型
                        th   乘客姓名
                        th   性别
                        th   证件类型
                        th   证件号
                        th   去程票号
                        th   返程票号
                        th   操作
                    tr
                        td   1
                        td   #{orders[0].passengerType}
                        td   #{orders[0].passengerName}
                        td   N/A
                        td   #{orders[0].passengerIdentifyType}
                        td   #{orders[0].passengerIdentify}
                        td.ticket(order-no=orders[0].orderNo)
                            input(type='hidden', name='goTicketId', placeholder=' 去程票号' id='goTickerId' value=orders[0]._id)
                            input(type='text', name='goTicket', placeholder=' 去程票号' id='goTicker' value=orders[0].passengerTicketNo)
                        td.ticket(order-no=orders[1].orderNo)
                            input(type='hidden', name='backTicketId', placeholder=' 去程票号' id='backTickerId' value=orders[1]._id)
                            input(type='text', name='backTicket', placeholder=' 返程去程票号' id='backTicker' value=orders[1].passengerTicketNo)
                        td
                            input.action.am-btn-sm.am-btn.am-btn-primary(type='button', name='callback', value='回填票号' id="change")
            fieldset
                legend.am-text-sm 出票工具
                table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tr
                        th  類型
                        th  出票渠道
                        th  外部订单
                        th  订单状态
                        th  支付总价
                        th  操作
                    each order,index in orders
                        tr(order-no=order.orderNo,order-id=order.orderId,order-agent=order.orderAgent)
                            td #{index == 0 ? "去程" : "返程"}
                            td #{order.orderAgent}
                            td #{order.orderNo}
                            td #{order.orderStatus}
                            td #{order.total}
                            td
                                input.action.am-btn-sm.am-btn.am-btn-default(type='button', name="refresh" value='刷新' id="refresh")
                                input.action.am-btn-sm.am-btn.am-btn-success(type='button', name='pay', value='支付' id="pay")
                                input.action.am-btn-sm.am-btn.am-btn-danger(type='button', name='refund', value='退票' id="refund")
                                input.am-btn-sm.am-btn.am-btn-primary(type='button', name='endorse', value='改簽' id="endorse" onclick='endo()')
                                input.action.am-btn-sm.am-btn.am-btn-primary(type='hidden', id="orderNo" name='orderNo', value='#{order.orderNo}')
            fieldset
                legend.am-text-sm 該簽退規則
                table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    tr
                        td.am-text-nowrap(width=80) 成人票
                        td.am-text-nowrap(width=80) 去程
                        td !{orders[0].notice}
                    tr
                        td.am-text-nowrap 成人票
                        td.am-text-nowrap 返程
                        td !{orders[1].notice}

            fieldset
                legend.am-text-sm 操作日志
                table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-left
                    - each obj in logs
                      tr
                        td
                          legend.am-text-sm #{obj.dateTime} #{obj.control} 操作人：#{obj.name}


    .am-alert.am-alert-success(style='display:none;') 没有任何订单记录.



block script
    script(type='text/javascript').

        var flag = "";

        $(document).ready(function (){
            var passengerTicketNo = #{orders[0].passengerTicketNo}+"" ;
            if(passengerTicketNo!=null&&passengerTicketNo!=""){
                $("input[name='callback']").prop("disabled", true);
            }

            change(#{lock});
        });

        function change(status){
            if (status == "2") {
                $("#locked").html("解锁订单");
                flag = "2";
            } else if (status == "1") {
                $("#locked").html("解锁订单");
                document.getElementById("locked").setAttribute("disabled", true);
                $("input[name='refresh']").prop("disabled", true);
                $("input[name='pay']").prop("disabled", true);
                $("input[name='refund']").prop("disabled", true);
                $("input[name='change']").prop("disabled", true);
            } else {
                $("#locked").html("锁定订单");
                flag = "0";
            }
        };

        function endo(){
            window.open("/endoPage?orderNo="+$("#orderNo").val(),"改签","fullscreen=1,width=600,height=500,top=70%,left=80%");
        };

        $(document).on('click', '.action', function (e) {
            e.preventDefault();
            var parent = $(this).parents('tr');
            var orderNo = $("#orderNo").val();
            var orderId = parent.attr('order-id');
            var orderAgent = parent.attr('order-agent');
            var goTickerId = $("#goTickerId").val();
            var backTickerId = $("#backTickerId").val();
            var goTicker = $("#goTicker").val();
            var backTicker = $("#backTicker").val();
            var action = $(this).attr('name');
            $.get('/' + action + '?orderNo=' + orderNo + '&orderAgent=' + orderAgent + '&orderId=' + orderId + '&flag=' + flag + "&goTickerId=" + goTickerId + "&backTickerId=" + backTickerId + "&goTicker=" + goTicker + "&backTicker=" + backTicker, function (res) {
                if (res.code == 200) {
                    if (res.code == '200') {
                        if (action == 'pay') {
                            parent.find('td').eq(3).html("支付成功等待出票");
                        } else if( action == 'locked' ){
                            alert("操作成功");
                            change(res.data);
                        } else if( action == 'callback' ){
                            if(res.data=="success"){
                                $("input[name='callback']").prop("disabled", true);
                                alert("回填成功");
                            }
                        } else {
                            parent.find('td').eq(3).html(res.data.orderStatus);
                            $(".ticket[order-no='" + orderNo + "']").html(res.data.passengerTicketNo);
                        }
                    }
                } else {
                    alert(res.msg)
                }
            })
        });
