extends layout

block content
    .am-g
        form.am-form(action='/',method='get')
            .am-cf.am-margin-top-xs
                .am-u-sm-12.am-u-md-4
                    label 订单日期:
                    input.am-form-field.datetime-picker(type='text', name='start', placeholder='起始日期时间')
                .am-u-sm-12.am-u-md-4
                    label 至:
                    input.am-form-field.datetime-picker(type='text', name='end', placeholder='结束日期时间')
                .am-u-sm-12.am-u-md-4
                    label 乘机人姓名:
                    input.am-form-field(type='text', name='name', placeholder='乘机人姓名')
            .am-cf.am-margin-top-xs
                .am-u-sm-12.am-u-md-4
                    label 订单号:
                    input.am-form-field(type='text', name='orderId', placeholder='订单号')
                .am-u-sm-12.am-u-md-4
                    label 票号:
                    input.am-form-field(type='text', name='tickerNo', placeholder='票号')
                .am-u-sm-12.am-u-md-4
                    label &nbsp;
                    br
                    button.am-btn.am-btn-default(type='submit') 搜索
    hr
    .am-g
        #orderlist.am-u-sm-12
            table.am-table.am-table-bordered.am-table-radius.box-shadow.am-text-center
                tbody
                    tr
                        th.am-text-center 訂單編號
                        th.am-text-center 訂單狀態
                        th.am-text-center 訂單日期
                        th.am-text-center 乘客
                        th.am-text-center(width=50) 起飞
                        th.am-text-center(width=50) 到达
                        th.am-text-center 起飞日期
                        th.am-text-center 订单报价
                        th.am-text-center 操作
                    each obj,index in orders
                        if index%2==0
                            tr
                                td.am-text-middle
                                    span #{orders[index].groupId}
                                td.am-text-nowrap
                                    span #{orders[index].orderStatus}
                                    br
                                    span #{orders[index + 1].orderStatus}
                                td.am-text-nowrap
                                    span #{orders[index].date}
                                    br
                                    span #{orders[index+1].date}
                                td.am-text-nowrap.am-text-middle
                                    span #{orders[index].passengerName}
                                td
                                    span #{orders[index].flightDeparture}
                                    br
                                    span #{orders[index + 1].flightDeparture}
                                td
                                    span #{orders[index].flightArrival}
                                    br
                                    span #{orders[index+1].flightArrival}
                                td.am-text-nowrap
                                    span #{orders[index].flightDepartureDateTime}
                                    br
                                    span #{orders[index+1].flightDepartureDateTime}
                                td.am-text-nowrap.am-text-middle
                                    span #{'¥ '+Number(Number(orders[index].orderTotalPrice) + Number(orders[index+1].orderTotalPrice))+'.00'}
                                td.am-text-middle
                                    a.am-btn.am-btn-primary.am-btn-sm(href='/detail?orderNo=' + obj.groupId) 查看详情
        .am-alert.am-alert-success(style='display:none;') 没有任何订单记录.
        .row
            .am-u-sm-12.am-margin-bottom.am-text-right
                a.am-btn.am-btn-xs.am-btn-success.am-margin-right(href='#') 上一页
                span.am-btn.am-btn-xs.am-btn-default.am-margin-right 第 1 页
                a.am-btn.am-btn-xs.am-btn-success(href='#') 下一页

